/* 通用CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; /*系统默认菜单被禁用*/
  -webkit-user-select: none; /*webkit浏览器*/
  user-select: none;
}

 input::-webkit-input-placeholder {
  color: #cccccc;
}

input {
  border: none;
  box-shadow: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px!important;
  line-height: 16px;
  height: 16px;
  -webkit-user-select: auto; /*webkit浏览器*/
}

select {
  line-height: 16px;
  height: 16px;
}

::-webkit-input-placeholder {
  color: #b3afa9;
}

input[type="button"] {
  -webkit-appearance: none;
}

input[type="password"], input[type="text"], input[type="number"], input[type="tel"] {
  font-family: "Source Han Sans CN", 思源黑体 , "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
  color: #333333;
  -webkit-appearance: none;
  border: 0px;
  outline: 0px;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

html {
  background: none repeat scroll 0 0;
  color: #333333;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0 none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

caption, th {
  text-align: left;
}

body {
  font-family: "Arial", "Source Han Sans CN", 思源黑体 , "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

hr {
  margin: 0;
}
